<% if @menus.empty? %>
 <p>There are no menus available to preview.</p>
<% else %>
  <% @menus.each do |menu| %>
   <%= render menu %>
    <p>This menu contains <%= menu.recipes.count %> recipes.</p>
  <% end %>
<% end %>
