<h2 class="subtitle is-2">Requested Menu</h2>
<div>
  <%= render @menu %>
  <br>
  <h3 class="subtitle is-3">Recipes in this Menu</h3>
  <% if @menu.recipes.empty? %>
    <p class="subtitle is-5">There are no recipes to display</p>
  <% else %>
    <div class="columns is-multiline">
      <%= render @menu.recipes %>
    </div>
  <% end %>
</div>