<h2>Requested Menu</h2>
<%= render @menu %>

<h3>Recipes in this Menu</h3>
<% if @menu.recipes.empty? %>
  <p>There are no recipes to display</p>
<% else %>
  <ul>
    <% @menu.recipes.each do |recipe| %>
      <li><%= recipe.name %></li>
    <% end %>
  </ul>
<% end %>