<div class="card">
  <div class="card-content">
    <p class="title"><%= link_to recipe.name, recipe %></p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">Description: <%= @recipe.description %></p>
  </footer>
</div>