<% if @recipes.empty? %>
 <p>There are no recipes available to preview.</p>
<% else %>
  <% @recipes.each do |rec| %>
    <h2><%= rec.name %></h2>
    <p><%= rec.description %></p>
    <p>This recipe is found in <%= rec.menus.count %> menus.</p>
  <% end %>
<% end %>