<% if @recipes.empty? %>
 <p>There are no recipes available to preview.</p>
<% else %>
  <% @recipes.each do |recipe| %>
    <h2><%= link_to recipe.name, recipe %></h2>
    <p><%= recipe.description %></p>
    <p>See menus containing this <%= link_to 'recipe', menus_path(recipe_id: recipe) %>.
    </p>
  <% end %>
<% end %>