<h2 class="subtitle is-2">Requested Recipe</h2>
<%= render @recipe %>
<br>
<h3 class="subtitle is-3">Menus including this Recipe</h3>
<% if @recipe.menus.empty? %>
  <p class="subtitle is-5">There are no menus to display</p>
<% else %>
  <div class="columns is-multiline"></div>
    <%= render @recipe.menus %>
  </div>
<% end %>