<h1 class="subtitle is-2">Requested Ingredient</h1>
<%= render @ingredient %>
<br>
<h2 class="subtitle is-3">This ingredient belongs to the <%= @ingredient.foodgroup.name %> foodgroup.</h2>
<h3>Recipes using this Ingredient</h3>
<% if @ingredient.recipes.empty? %>
  <p class="subtitle is-5">There are no recipes to display</p>
<% else %>
  <div class="columns is-multiline">
    <%= render @ingredient.recipes %>
  </div>
<% end %>