<% if @foodgroups.empty? %>
 <p class="subtitle is-5">There are no foodgroups available to preview.</p>
<% else %>
  <div class="columns is-multiline">
    <%= render @foodgroups %>
  </div>
<% end %>
