<h2>Requested Foodgroup</h2>
<h3><%= @foodgroup.name %></h3>
<p>Suggested Daily Serving: <%= @foodgroup.suggested_serving %></p>
<br>
<h3>Ingredients from this Foodgroup</h3>
<% if @foodgroup.ingredients.empty? %>
  <p>There are no ingredients to display</p>
<% else %>
  <ul>
    <% @foodgroup.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <%= link_to 'back to foodgroups', 'index' %>
</p>