<h2 class="subtitle is-2">Requested Foodgroup</h2>
<%= render @foodgroup, params: { column_full: '' } %>
<br>
<h3 class="subtitle is-3">Ingredients from this Foodgroup</h3>
<% if @foodgroup.ingredients.empty? %>
  <p class="subtitle is-5">There are no ingredients to display</p>
<% else %>
  <div class="columns is-multiline">
    <%= render @foodgroup.ingredients %>
  </div>
<% end %>
<p>
  <%= link_to 'back to foodgroups', 'index' %>
</p>